<h2 style="text-align: left; color: green;">Publications</h1>
<ul style="text-align: left;">
  <li>
    <strong>Generative Pre-trained Autoregressive Diffusion Transformer</strong><br>
    Yuan Zhang, Jiacheng Jiang, Guoqing Ma, Zhiying Lu, Bo Wang, Haoyang Huang, Jianlong Yuan, Nan Duan.<br> 
     NeurIPS, 2025.
  </li>
  
  <li>
    <strong>Step-Video-Ti2v Technical Teport</strong><br>
    Haoyang Huang, Guoqing Ma, Nan Duan, Xing Chen, Changyi Wan, Ranchen Ming, Tianyu Wang, Bo Wang, Zhiying Lu.<br> 
    Technical Report, 2025.
  </li>

  <li>
    <strong>Step-Video-T2v Technical Teport</strong><br>
    Guoqing Ma, Haoyang Huang, Kun Yan, Liangyu Chen, Nan Duan.<br>
    Technical Report, 2025.
  </li>

  <li>
    <strong>STORYANCHORS: Generating Consistent Multi-Scene Story Frames for Long-Form Narratives</strong><br>
    Bo Wang, Haoyang Huang, Zhiying Lu, Fengyuan Liu, Guoqing Ma, Jianlong Yuan, Yuan Zhang, Nan Duan, Daxin Jiang.<br>
    Preprint, 2025.
  </li>

  <li>
    <strong>Generative pre-trained autoregressive diffusion transformer</strong><br>
    Yuan Zhang, Jiacheng Jiang, Guoqing Ma, Zhiying Lu, Haoyang Huang, Jianlong Yuan, Nan Duan.<br>
    Preprint, 2025.
  </li>

  <li>
    <strong>Respond in my language: Mitigating language inconsistency in response generation based on large language models</strong><br>
    Liang Zhang, Qin Jin, Haoyang Huang, Dongdong Zhang, Furu Wei.<br>
    ACL, 2024.
  </li>

  <li>
    <strong>Language-specific neurons: The key to multilingual capabilities in large language models</strong><br>
    Tianyi Tang, Wenyang Luo, Haoyang Huang, Dongdong Zhang, Xiaolei Wang, Xin Zhao, Furu Wei, Ji-Rong Wen.<br> 
    ACL, 2024.
  </li>

  <li>
    <strong>Synthetic data (almost) from scratch: Generalized instruction tuning for language models</strong><br>
    Haoran Li, Qingxiu Dong, Zhengyang Tang, Chaojun Wang, Xingxing Zhang, Haoyang Huang, Shaohan Huang, Xiaolong Huang, Zeqiang Huang, Dongdong Zhang.<br> 
    EMNLP Finding, 2024.
  </li>

   <li>
    <strong>TRIP: Accelerating Document-level Multilingual Pre-training via Triangular Document-level Pre-training on Parallel Data Triplets</strong><br>
    Hongyuan Lu, Haoyang Huang, Shuming Ma, Dongdong Zhang, Wai Lam, Zhaochuan Gao, Anthony Aue, Arul Menezes, Furu Wei.<br> 
    EMNLP, 2024.
  </li>

   <li>
    <strong>Not All Metrics Are Guilty: Improving NLG Evaluation by Diversifying References</strong><br>
    Tianyi Tang, Hongyuan Lu, Yuchen Jiang, Haoyang Huang, Dongdong Zhang, Xin Zhao, Tom Kocmi, Furu Wei.<br> 
    NAACL, 2024.
  </li>

    <li>
    <strong>Chain-of-Dictionary Prompting Elicits Translation in Large Language Models</strong><br>
    Hongyuan Lu, Haoran Yang, Haoyang Huang, Dongdong Zhang, Wai Lam, Furu Wei.<br> 
    EMNLP, 2024.
  </li>

   <li>
    <strong>Not All Languages Are Created Equal in LLMs</strong><br>
    Haoyang Huang, Tianyi Tang, Dongdong Zhang, Wayne Xin Zhao, Ting Song, Yan Xia, Furu Wei.<br> 
    EMNLP, 2023.
   </li>

    <li>
    <strong>HanoiT: Enhancing Context-aware Translation via Selective Context</strong><br>
    Jian Yang, Yuwei Yin, Shuming Ma, Liqun Yang, Hongcheng Guo, Haoyang Huang, Dongdong Zhang, Yutao Zeng, Zhoujun Li, Furu Wei.<br> 
    DASFFAA, 2023.
   </li>

    <li>
    <strong>NÜWA-LIP: Language Guided Image Inpainting with Defect-free VQGAN</strong><br>
    Minheng Ni, Chenfei Wu, Haoyang Huang, Daxin Jiang, Wangmeng Zuo, Nan Duan.<br> 
    CVPR, 2023.
   </li>

    <li>
    <strong>GanLM: Encoder-Decoder Pre-training with an Auxiliary Discriminator</strong><br>
    Jian Yang, Shuming Ma, Li Dong, Shaohan Huang, Haoyang Huang, Yuwei Yin, Dongdong Zhang, Liqun Yang, Furu Wei, Zhoujun Li.<br> 
    ACL, 2023.
   </li>

    <li>
    <strong>LVP-M3: Language-aware Visual Prompt for Multilingual Multimodal Machine Translation</strong><br>
    Hongcheng Guo, Jiaheng Liu, Haoyang Huang, Jian Yang, Zhoujun Li, Dongdong Zhang, Zheng Cui.<br> 
    EMNLP, 2022.
   </li>

    <li>
    <strong>BlonDe: An Automatic Evaluation Metric for Document-level Machine Translation</strong><br>
    Yuchen Jiang, Tianyu Liu, Shuming Ma, Dongdong Zhang, Jian Yang, Haoyang Huang, Rico Sennrich, Ryan Cotterell, Mrinmaya Sachan, Ming Zhou.<br> 
    NAACL, 2022.
   </li>

    <li>
    <strong>M3P: Learning Universal Representations via Multitask Multilingual Multimodal Pre-training</strong><br>
    Minheng Ni, Haoyang Huang, Lin Su, Edward Cui, Taroon Bharti, Lijuan Wang, Dongdong Zhang, Nan Duan.<br> 
    CVPR, 2021.
   </li>

    <li>
    <strong>UniVL: A Unified Video and Language Pre-Training Model for Multimodal Understanding and Generation</strong><br>
    Huaishao Luo, Lei Ji, Botian Shi, Haoyang Huang, Nan Duan, Tianrui Li, Jason Li, Taroon Bharti, Ming Zhou.<br> 
    Preprint, 2021.
   </li>
   

    <li>
    <strong>Hierarchical Context-aware Network for Dense Video Event Captioning</strong><br>
    Lei Ji, Xianglin Guo, Haoyang Huang, Xilin Chen.<br> 
    ACL, 2021.
   </li>

    <li>
    <strong>Xgpt: Cross-modal generative pre-training for image captioning</strong><br>
    Qiaolin Xia, Haoyang Huang, Nan Duan, Dongdong Zhang, Lei Ji, Zhifang Sui, Edward Cui, Taroon Bharti, Ming Zhou.<br> 
    NLPCC, 2021.
   </li>

    <li>
    <strong>Multilingual Agreement for Multilingual Neural Machine Translation</strong><br>
    Jian Yang, Yuwei Yin, Shuming Ma, Haoyang Huang, Dongdong Zhang, Zhoujun Li, Furu Wei.<br> 
    ACL, 2021.
   </li>

    <li>
    <strong>Improving Multilingual Neural Machine Translation with Auxiliary Source Languages</strong><br>
    Weijia Xu, Yuwei Yin, Shuming Ma, Dongdong Zhang, Haoyang Huang.<br> 
    EMNLP finding, 2021.
   </li>

    <li>
    <strong>Multilingual Machine Translation Systems from Microsoft for WMT21 Shared Task</strong><br>
    Jian Yang, Haoyang Huang, Shuming Ma, Dongdong Zhang, Li Dong, Shaohan Huang, Alexandre Muzio, Saksham Singhal, Hany Hassan, Xia Song, Furu Wei.<br> 
    SIGMT, 2021.
   </li>

    <li>
    <strong>XLM-T: Scaling up Multilingual Machine Translation with Pretrained Cross-lingual Transformer Encoders</strong><br>
    Shuming Ma, Jian Yang, Haoyang Huang, Zewen Chi, Li Dong, Dongdong Zhang, Hany Hassan Awadalla, Alexandre Muzio, Akiko Eriguchi, Saksham Singhal, Xia Song, Arul Menezes, Furu Wei.<br> 
    Arxiv, 2020 .
   </li>

    <li>
    <strong>Unicoder: A Universal Language Encoder by Pre-training with Multiple Cross-lingual Tasks</strong><br>
    Haoyang Huang, Yaobo Liang, Nan Duan, Ming Gong, Linjun Shou, Daxin Jiang, Ming Zhou.<br> 
    EMNLP, 2019.
   </li>

</ul>